body{
    background:#eee;
    text-align:center;
    font-family:Arial;
}

.box{
    background:white;
    width:300px;
    margin:100px auto;
    padding:20px;
}

input{
    width:90%;
    margin:5px 0;
    padding:5px;
}

button{
    padding:7px 12px;
    margin-top:8px;
}

h2{
    color: rgb(114, 16, 218);
}